
/* Section Container */
.section.container{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	border: none;
	margin-bottom: 25px;
}

/* Clickable Container */
.dropdown.clickable{
	width:100%;
}
.section.container>.dropdown.clickable{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 45px;
	min-width: 100%;
	max-width: 100%;
	border: 1px solid black;
	border-bottom: none;
	cursor:pointer;
}
.dropdown.clickable>*{
	margin-left: 10%;
	margin-right: 10%;
	border: none;
}

/* Content Container */
.section.container .dropdown.content{
	height: calc(100% - 65px);
	width:100%;
	border: 1px solid black;
}
.section.container .dropdown.content *{
	margin: 5px;
}
.section.container>div.dropdown.content{
	display:none;
}
.section.container.startOpen>div.dropdown.content{
	display:block;
}